body {
    margin: 0;
    text-align: center;
    font-family: 'Tohama', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
}

h1 {
    margin-top: 10px;
    margin-bottom: 8px;
}

#grid {
    border: 5px solid black;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: white;
    padding-top: 4px;
}

.row {
    margin: 0;
}

.pixel {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: -4px -3px;
}

#textbox {
    border: 5px solid black;
    font-size: large;
}

#snakeLabel {
    font-size: large;
    font-weight: 600;
}

#snake {
    width: 1rem;
    height: 1rem;
}

#submit {
    font-size: x-large;
    font-weight: 600;
    margin-top: 8px;
    width: 200px;
    height: 50px;
    background-color: orangered;
    border: 5px solid black;
    border-radius: 8px;
    transition-duration: 0.2s;
}

#submit:hover {
    background-color: orange;
}