body {
    margin: 0;
    text-align: center;
    font-family: 'Tohama', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
}

h1 {
    margin-top: 10px;
    margin-bottom: 8px;
}

.grid {
    border: 5px solid black;
    margin: auto;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: white;
}

.inputBox {
    border: 5px solid black;
    font-size: large;
}

.settings {
    margin: 8px;
}

.sizeLabel {
    font-size: large;
    font-weight: 600;
}

.sizeBox {
    border: 3px solid black;
    border-radius: 4px;
    font-size: medium;
    text-align: center;
    width: 30px;
}

.snakeLabel {
    margin-left: 20px;
    font-size: large;
    font-weight: 600;
}

.snakeBox {
    width: 1rem;
    height: 1rem;
}

.submit {
    font-size: x-large;
    font-weight: 600;
    margin-top: 8px;
    width: 200px;
    height: 50px;
    background-color: orangered;
    border: 5px solid black;
    border-radius: 8px;
    transition-duration: 0.2s;
}

.submit:hover {
    background-color: orange;
}

/* DRAW MODE STYLES */

.drawGrid {
    width: 600px;
    height: 600px;
}

.drawPixel {
    border: 1px solid white;
}

.colorPresetForm {
    margin: auto;
    padding-right: 30px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.colorPresets {
    position: relative;
    padding-left: 30px;
}

.colorPresets input[type="radio"] {
    display: none;
}

.colorPresets span {
    height: 40px;
    width: 40px;
    margin: 3px;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.colorPresets input[type="radio"]:checked ~ span {
    margin: 0;
    border: 3px solid black;
}

.redPreset {
    background-color: red;
}

.bluePreset {
    background-color: blue;
}

.yellowPreset {
    background-color: yellow;
}

.greenPreset {
    background-color: green;
}

.orangePreset {
    background-color: orange;
}

.purplePreset {
    background-color: purple;
}

.customPreset span {
    width: 80px;
    padding-right: 40px;
    font-size: large;
    font-weight: 800; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.colorPicker {
    position: absolute;
    top: 0;
    left: 113px;
    width: 40px;
    height: 40px;
    margin-top: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    border: 3px solid white;
    cursor: pointer;
}